.wrap-el {
  margin: 15px 0;
}

.input {
  height: 40px;
  width: 300px;
  padding: 10px;
}

.text {
  font-size: 20px;
}

.img {
  max-height: 400px;
  object-fit: cover;
}

.edit {
  width: 100%;
  height: 40px;
  font-size: 17px;
  white-space: nowrap;
}
